.book-details {
    background-color: rgb(227, 247, 255);
}

.book-details-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

.book-details-container h1 {
    text-align: left;
    margin: 30px 10vw 20px;
}

.book-details-container h2 {
    margin: 10px 10vw 1.3rem 10vw;
    text-align: left;
}

.book-details-container p {
    margin: 5px 10vw 5px 10vw;
}

.bookitem-cover {
    margin-top: 7vh;
}

.goback-button {
    margin: 20px 10vw 20px 10vw;
}

.bookdetails-button-container {
    padding: 20px 10vw 60px 10vw;
    justify-content: flex-end;
}