.book-item {
    border: 3px solid #777;
    border-radius: 40px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 30px;
    width: 25%; /* Fixed width */
    height: 600px; /* Fixed height */
    text-align: center;
    justify-content: center;
    text-align: left;
  }
  
  .book-item-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  
  .book-item-cover {
    clip-path: inset(10% 0 10% 0); /* Crop 10% from top and bottom */
  }
  
  .book-item-info {
    margin-left: 20px;
  }
  
  .book-item-heading {
    margin: 20px;
  }

/* LIKE BUTTON */

.like-container {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
.like-button {
    width: 35px;
    height: auto; /* Maintain aspect ratio */
    cursor: 'pointer';
}
  
.like-button-text {
    margin-left: 15px;
}