.legal-container h1 {
    padding-bottom: 20px;
    padding-top: 50px;
}

.legal-container p, .legal-container h2 {
    margin: 40px 10vw 40px 10vw;
}

.legal-container {
    padding-bottom: 10vh;
    background-color: rgb(227, 247, 255);
}


