.legal-container h1 {
    padding-bottom: 20px;
    padding-top: 30px;
}

.legal-container h2 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.legal-container p {
    margin: 40px 10vw 40px 10vw;
}

.legal-container {
    padding-bottom: 10vh;
    background-color: rgb(227, 247, 255);
}


