.header {
    min-height: 20vh;
    background: linear-gradient(rgba(134, 189, 255, 0.921), 
    rgba(0, 53, 86, 0.911)), url("./../../../public/bookshelf-inaki-del-olmo.jpg") 
    center/cover no-repeat; 
    flex-direction: column;
    padding: 0px 30px 50px 30px;
}

.header-text {
    color: white;
    opacity: 0.9; 
    margin-bottom: 2.8rem;
    max-width: 770px;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 5vh;
}

.logo-container {
    margin-top: 2.8rem;
    flex-wrap: wrap;
}
  
.logo {
    width: 300px;
    height: auto;
    margin-right: -5vh;
}

.logo-book {
    width: 200px;
    height: auto;
}

@media (max-width: 530px) {
    .logo {
        margin-right: 0vh;
    }
}

@media (min-width: 1000px) {
    .logo {
        margin-right: 0.5vh;
    }
}