.header {
    min-height: 75vh;
    background: linear-gradient(rgba(134, 189, 255, 0.921), 
    rgba(0, 53, 86, 0.911)), url("./../../../public/bookshelf-inaki-del-olmo.jpg") 
    center/cover no-repeat; 
    flex-direction: column;
}

.header-text {
    color: white;
    opacity: 0.9; 
    margin-bottom: 2.8rem;
    max-width: 770px;
    font-size: 1.5rem;
}
  
.logo {
    width: 300px;
    height: auto;
}
