.footer {
    color: white;
    min-height: 25vh;
    background: linear-gradient(rgba(134, 189, 255, 0.921), 
    rgba(0, 53, 86, 0.911)), url("./../../../public/bookshelf-inaki-del-olmo.jpg") 
    center/cover no-repeat; 
    align-items: center;
    padding-bottom: 5vh;
}

.footer p {
    text-align: center;
}
  
.footer-text {
    padding: 40px 30px 50px 30px;
    font-size: 1.2rem;
    text-align: center;
    color: rgba(221, 221, 221, 0.887);
}

.footer-text:hover {
    color: rgba(55, 177, 252, 0.887);
}