.footer {
    flex-direction: row;
    color: white;
    min-height: 25vh;
    background: linear-gradient(rgba(134, 189, 255, 0.921), 
    rgba(0, 53, 86, 0.911)), url("./../../../public/bookshelf-inaki-del-olmo.jpg") 
    center/cover no-repeat; 
    align-items: center;
}
  
.footer-text {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.8rem;
}