.cart-item-list {
    background-color: rgb(227, 247, 255);
    padding: 0.2rem 1rem 3rem 1rem;
    position: relative;
}

.cartitemlist-content {
    gap: 1.3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.total-price {
    margin-top: 5vh;
    margin-bottom: 3vh;
    font-weight: 600;
}

.checkout-button {
    position: absolute;
    margin: 3vh;
    bottom: 20px;
    right: 20px; 
}