/* <NavLink to=“...”/> adds .active css class to anchor when link is active */
.nav-item {
    text-decoration: none; /* Remove underline */
    color: white;
    font-size: 1.3rem;
    padding-left: 1.2vh;
    padding-right: 1.2vh;
}

.active {
    color: rgb(131, 208, 255);
}

nav span {
    color: rgb(8, 42, 62);
    font-weight: bold;
}